
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddStudent</title>
</head>
<body>
    <div> 
        <form action="submitStudentDetails" method="post">
            First Name: <input id="Text1" name="FirstName" type="text" /> <br />
            Last Name: <input id="Text1" name="LastName" type="text" /> <br />
            Phone: <input id="Text1" name="Phone" type="text" /> <br />
            Email: <input id="Text1" name="Email" type="text" /> <br />
            <input id="Submit1" type="submit" value="Add Student" />
        </form>
    </div>
</body>
</html>
