################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ebook_Libary_project/FileContentIndex/50092e04-2b99-4592-9cee-74a084b07930.vsidx
/.vs/Ebook_Libary_project/FileContentIndex/628ffe70-5d6b-4b13-ac67-a6565a79081d.vsidx
/.vs/Ebook_Libary_project/FileContentIndex/2801c2c2-fad9-4ee1-a01d-3f916f74cbb1.vsidx
*.vsidx

/.vs/Ebook_Libary_project/FileContentIndex/2fce76ca-15ea-46f2-ae13-ef07d646a5e4.vsidx
/.vs/Ebook_Libary_project/config/applicationhost.config
/Ebook_Libary_project/Content/Books/05206b78-b27b-4779-bfef-58a70c1d9178.pdf
/Ebook_Libary_project/Content/Books/1310d828-1070-45b8-a107-7d30735b17b8.pdf
/Ebook_Libary_project/Content/Books/1a898035-bd29-472d-abe9-42cb9a008bf1.pdf
/Ebook_Libary_project/Content/Books/1d71f9a1-4e63-4812-b2dd-144cb74b5903.pdf
/.vs/Ebook_Libary_project/v17/.suo
/.vs/Ebook_Libary_project/v17/DocumentLayout.backup.json
/.vs/Ebook_Libary_project/v17/DocumentLayout.json
/Ebook_Libary_project/bin/Ebook_Libary_project.dll
/Ebook_Libary_project/bin/Ebook_Libary_project.pdb
/Ebook_Libary_project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Ebook_Libary_project/obj/Debug/Ebook_Libary_project.dll
/Ebook_Libary_project/obj/Debug/Ebook_Libary_project.pdb
