################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ebook_Libary_project/FileContentIndex/50092e04-2b99-4592-9cee-74a084b07930.vsidx
