
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCustmoer</title>
</head>
<body>
    <div> 
        <form action="SubmitCustomerDetails" method="post">
            First Name: <input id="Text1" name="FirstName" type="text" /> <br />
            Last Name: <input id="Text1" name="LastName" type="text" /> <br />
            Customer Number: <input id="Text1" name="CustomerNumber" type="text" /> <br />
            <input id="Submit1" type="submit" value="Add Customer" />
        </form>
    </div>
</body>
</html>
