@model Lab3.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowCustomer</title>
</head>
<body>
    <div>
        First Name: @Model.FirstName <br />
        Last Name: @Model.LastName <br />
        Customer Number: @Model.CustomerNumber <br />
    </div>
</body>
</html>
